In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
import joblib
from sklearn.preprocessing import StandardScaler
s = StandardScaler()

RawData=pd.read_csv('data/dataset.csv')
xgb=XGBClassifier()
rn=RandomForestClassifier(n_jobs=3)
gbr=GradientBoostingRegressor()
lr=LinearRegression()

modellist=['xgb','rn','gbr','lr']
# display(RawData.head())

In [86]:
print(RawData.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [87]:
ColumsReqiured=[]
print(type(RawData.columns[0]))
RawData.drop(RawData.columns[0],axis=1,inplace=True)

print(RawData.columns)

<class 'str'>
Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [99]:
FinalData=pd.DataFrame

x=RawData.drop(['Price','New_Price'],axis=1)
y=RawData.drop(x.columns,axis=1)

# print(x['Transmission'].unique())
# x['Fuel_Type']=x['Fuel_Type'].map({'Petrol':0,'Diesel':1,'CNG':2,'LPG':3,'Electric':4})
# x['Owner_Type']=x['Owner_Type'].map({'First':0,'Second':1,'Third':2,'Fourth & Above':3})
# x['Transmission']=x['Transmission'].map({'Manual':0,'Automatic':1})
x['Mileage']=pd.to_numeric(x['Mileage'].str.split(" ",expand=True)[0],errors='coerce')
x['Engine']=pd.to_numeric(x['Engine'].str.split(" ",expand=True)[0],errors='coerce')
x['Power']=pd.to_numeric(x['Power'].str.split(" ",expand=True)[0],errors='coerce')
for i in x.columns:
    print(i," : ", x[i].dtype)
x['Mileage'].fillna(x['Mileage'].value_counts().idxmax(),inplace=True)
x['Engine'].fillna(x['Engine'].value_counts().idxmax(),inplace=True)
x['Power'].fillna(x['Power'].value_counts().idxmax(),inplace=True)
x['Seats'].fillna(x['Seats'].value_counts().idxmax(),inplace=True)
# print(x['Mileage'].str.split(" ",expand=True))
print("\n\n\n")
for i in x.columns:
    print(i," : ", x[i].dtype)


# """For mapping Name"""
x['ManufacturerName']= x['Name'].str.split(" ",expand=True)[0]
# ManufacturNameAll=x['Name'].str.split(" ",expand=True)[0] 
# print(ManufacturName)
# DicttForName={}
# i=0
# for j in ManufacturName:
#     DicttForName[j]=i
#     i+=1
# i=0    
# # print(dictt)
# x['Name']=x['Name'].str.split(' ',expand=True)[0]
# x['Name']=ManufacturNameAll.map(DicttForName)
x.drop('Location',axis=1,inplace=True)
# """For mapping City"""
# # DictForLocation={}
# for j in x['Location'].str.split(" ",expand=True)[0].unique():
#     DictForLocation[j]=i
#     i+=1
# print(DictForLocation)
# x['Location']=x['Location'].map(DictForLocation)
# x['Location']=pd.to_numeric(x['Location'].str.split(" ",expand=True)[0].unique())

# display(x['Mileage'].value_counts().idxmax())
# display(x)
# print(x.isna().sum())



# for i in x.columns:
#     print(x[i].dtype)

dummies1=pd.get_dummies(x['ManufacturerName'])
dummies2=pd.get_dummies(x['Fuel_Type'])
dummies3=pd.get_dummies(x['Owner_Type'])
dummies4=pd.get_dummies(x['Transmission'])
print(dummies1.columns,dummies2.columns,dummies3.columns,dummies4.columns)
print(dummies1.shape)
print(dummies2.shape)
print(dummies3.shape)
print(dummies4.shape)
# dummiesForFuel=pd.get_dummies(x['Fuel_Type'])

Name  :  object
Location  :  object
Year  :  int64
Kilometers_Driven  :  int64
Fuel_Type  :  object
Transmission  :  object
Owner_Type  :  object
Mileage  :  float64
Engine  :  float64
Power  :  float64
Seats  :  float64




Name  :  object
Location  :  object
Year  :  int64
Kilometers_Driven  :  int64
Fuel_Type  :  object
Transmission  :  object
Owner_Type  :  object
Mileage  :  float64
Engine  :  float64
Power  :  float64
Seats  :  float64
Index(['Ambassador', 'Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat',
       'Force', 'Ford', 'Honda', 'Hyundai', 'ISUZU', 'Isuzu', 'Jaguar', 'Jeep',
       'Lamborghini', 'Land', 'Mahindra', 'Maruti', 'Mercedes-Benz', 'Mini',
       'Mitsubishi', 'Nissan', 'Porsche', 'Renault', 'Skoda', 'Smart', 'Tata',
       'Toyota', 'Volkswagen', 'Volvo'],
      dtype='object') Index(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype='object') Index(['First', 'Fourth & Above', 'Second', 'Third'], dtype='object') Index(['Automatic', 'Manual'], dtype='object')
(6019, 31)
(6019, 5)
(6019, 4)
(6019, 2)

## Year

In [89]:
from datetime import datetime
d=datetime.now().year
x['Year'].fillna(x['Year'].value_counts().idxmax(),inplace=True)
x['Age']=d-x['Year']
x.drop('Year',axis=1,inplace=True)
print(x['Age'].isna().sum())

# display(x)
pd.DataFrame(x.columns).to_csv('XColums.csv',index=False)

0

## For the Y

In [90]:
y['New_Price']=y['New_Price'].str.split(" ",expand=True)[0]
# y['']
# y.to_csv('Ynew.csv',index=False)
print(y['New_Price'].value_counts().idxmax())
y['New_Price'].fillna(y['Price']*1.5,inplace=True)

print(y.head(100))

95.13
   New_Price  Price
0      2.625   1.75
1      18.75  12.50
2       8.61   4.50
3        9.0   6.00
4      26.61  17.74
..       ...    ...
95      5.25   3.50
96     4.185   2.79
97     5.175   3.45
98     6.675   4.45
99     3.975   2.65

[100 rows x 2 columns]

### Creating Dummies

In [91]:
x.drop(['Name','ManufacturerName','Fuel_Type','Owner_Type','Transmission'],axis=1,inplace=True)

# display(dummies)
x=pd.concat([x,dummies1],axis=1)
x=pd.concat([x,dummies2],axis=1)
x=pd.concat([x,dummies3],axis=1)
x=pd.concat([x,dummies4],axis=1)
display(x)
pd.DataFrame(x.columns).to_csv('XColums.csv',index=False)

,Kilometers_Driven,Mileage,Engine,Power,Seats,Age,Ambassador,Audi,BMW,Bentley,...,Diesel,Electric,LPG,Petrol,First,Fourth & Above,Second,Third,Automatic,Manual
0,72000,26.60,998.0,58.16,5.0,13,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1,41000,19.67,1582.0,126.20,5.0,8,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
2,46000,18.20,1199.0,88.70,5.0,12,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,87000,20.77,1248.0,88.76,7.0,11,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
4,40670,15.20,1968.0,140.80,5.0,10,False,True,False,False,...,True,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,27365,28.40,1248.0,74.00,5.0,9,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
6015,100000,24.40,1120.0,71.00,5.0,8,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
6016,55000,14.00,2498.0,112.00,8.0,11,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
6017,46000,18.90,998.0,67.10,5.0,10,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
6018,47000,25.44,936.0,57.60,5.0,12,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True

In [92]:
# s.fit(x)
# y = s.fit_transform([RawData['Price']])
# y['New_Price']=y['New_Price'].astype('float64')
# y['New_Price']=y['New_Price'].astype('int64')
# y['Price']=y['Price'].astype('float64')
# y['Price']=y['Price'].astype('int64')
# print(y['New_Price'].dtype,y['Price'].dtype)
y.drop('New_Price',axis=1,inplace=True)

In [93]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.1,random_state=1
                                           )
# display(y)
# rn.fit(xtrain,ytrain)
# xgb.fit(xtrain,ytrain)
gbr.fit(xtrain,ytrain)
lr.fit(xtrain,ytrain)
gbr.pre
# heck
print(lr.score(xtest,ytest))
# print(.score(xtest,ytest))
print("""Random score : %
        XGB Score : %
        GBR score : {}%
        Linear Score : {}%""".format(
                                        # round(rn.score(xtest,ytest)*100,2),
                                #      round(xgb.score(xtest,ytest)*100,2),
                                     round(gbr.score(xtest,ytest)*100,2),
                                round(lr.score(xtest,ytest)*100,2)))

c:\Program Files\Python311\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6216841467146383
Random score : %
        XGB Score : %
        GBR score : 91.47%
        Linear Score : 62.17%

In [94]:
GBR_FINAL=gbr.fit(x,y)

joblib.dump(GBR_FINAL,'car')
car_model=joblib.load('car')

c:\Program Files\Python311\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [95]:
# GBR_FINAL.save